* { font-family: Verdana; }

table { text-align: center; }
.module { margin: 10px 0px; }
.ui-icon { float: right; }
.ui-widget-header, .widget-content { padding: 10px; }
p { margin: 3px 5px; }
ul, li { list-style: none; margin: 0px; padding: 0px; }

.col {
    border: 1px solid #000;
    float: left;
    margin: 5px;
    position: relative;
    min-width: 100px;
    min-height: 100px;
    padding: 5px 5px 25px 5px;
}
hr { border: 0px; display: block; clear: both; }

.error { border: 1px solid #FF0000; }
.error_normal { backgound: #990000;}

#controller, .col_control, #widget_source {
    position: absolute;
    border: 1px solid #000000;
    margin: 0px;
    padding: 5px 10px;
    text-align: center;
    z-index: 9001;
}
.module { z-index: 9000; }
#controller {
    top: 0px;
    right: 50px;
    width: 200px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    border-top: 0px;
    background: #FFFFFF;
}
.col_control {
    border-bottom: 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    bottom: 0px;
    right: 3px;
    width: 100px;
    background: #FFFFFF;
}
#controller ul { margin-top: 10px; }
#controller ul li { cursor: pointer; }
#widget_source {
    border-bottom: 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    bottom: 0px;
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    min-height: 1em;
    cursor: pointer;
}

.ui-state-highlight {
    width: 100px;
    height: 1em;
    background: orange;
}

.change_col, .delete_col, .delete-icon {
    width: 16px;
    height: 0px;
    padding-top: 16px;
    overflow: hidden;
    display: inline-block;
    margin: 0px 1px;
    cursor: pointer;
}
.change_col { background: url('icons/edit.png'); }
.delete_col, .delete-icon { background: url('icons/delete.png'); }
