* { font-family: Verdana; }
body { background: #000000; }

table { text-align: center; }
.ui-icon { float: right; }
.ui-widget-header, .widget-content { padding: 5px; }
p { margin: 3px 5px; }
ul, li { list-style: none; margin: 0px; padding: 0px; }

hr { border: 0px; display: block; clear: both; }

.error { border: 1px solid #FF0000; }
.error_normal { background: #990000;}

.gs_w { background: #3F3F3F; color: #FFFFFF; }
.module { padding: 10px; overflow: auto; }
a { color: #FFFFFF; }

#widget_source {
    position: absolute;
    bottom: 0px;

    margin: 0px 5px;
    padding: 5px 10px;
    text-align: center;
    z-index: 2;
    background: #FFFFFF;

    border: 1px solid #000000;
    border-bottom: 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    display: block;

    min-height: 1em;
    cursor: pointer;
}
#widget_source .module {
    background: #3F3F3F;
    padding: 3px 5px;
    color: #FFFFFF;
}

#loading {
    z-index: 3;
    position: absolute;
    left: 5px;
    top: 5px;
}
#loading, .delete_col, .delete-icon {
    width: 16px;
    height: 0px;
    padding-top: 16px;
    overflow: hidden;
    display: inline-block;
    margin: 0px 1px;
    cursor: pointer;
    background-repeat: no-repeat;
}
.change_col { background: url('../icons/edit.png'); }
.delete_col, .delete-icon { background: url('../icons/delete.png'); }
#loading { background: url('../icons/loading.gif'); }

.toggle { cursor: pointer; }
.hidden { display: none; }
