* { font-family: Verdana; }
body { background: #000000; margin: 0px; padding: 0px; }

table { text-align: center; }
.ui-icon { float: right; }
.ui-widget-header, .widget-content { padding: 5px; }
p { margin: 3px 5px; }
ul, li { list-style: none; margin: 0px; padding: 0px; }

hr { border: 0px; display: block; clear: both; }

.error { border: 1px solid #FF0000; }
.error_normal { background: #990000; }
.error_ok { background: #009900; }

.gs_w { background: #3F3F3F; color: #FFFFFF; overflow: auto; }
.module { padding: 10px; }
.gridster .dragging { border: 1px solid #FFFFFF; }
a { color: #FFFFFF; }

.tcenter { text-align: center; width: 100%; }
